<div class="navigasi">

    <div class="logo">
        <a href="#home"><button>
                <h2>Tugas Pemweb 1</h2>
            </button></a>
    </div>
    <!-- Ini Menu Navigasi -->
    <div class="menu">
        <ul>
            <li><a href="#biodata">Biodata</a></li>
            <li><a href="#pengalaman">Pengalaman</a></li>
            <li><a href="#hobby">Hobi</a></li>
            <li><a href="#kontak">Kontak</a></li>
            <li><a href="#customBiodata">Custom</a></li>
            <li><a href="#story">Story</a></li>
        </ul>
    </div>

</div>