<div class="Box-Pengalaman" id="pengalaman">
    <h1>Pengalaman</h1>
    <div class="Box-Kiri-pengalaman">
        <img src="gambar/1.jpeg">
        <p>
            <h3>Yusril Fahmi</h3>
        </p>
        <p>
            <h3>220602014</h3>
        </p>
        <h4>Pekerjaan :</h4>
        PT. Hewan Purba 1555-Sekarang
        <h4>Organisasi :</h4>
        <p>Kominfo 1456-Sekarang <br />
            Awet Muda 1675-Sekarang <br />
            Anti Makan 1556 - Sekarang</p>
    </div>

    <div class="Box-Tengah-pengalaman">
        <img src="gambar/2.jpeg">
        <p>
            <h3>Qomaruzzaman</h3>
        </p>
        <p>
            <h3>220602006</h3>
        </p>
        <h4>Pekerjaan :</h4>
        PT. Pintu Kemana Saja 2021-2022
        <h4>Organisasi :</h4>
        <p>Doraemon club 2019-2022 <br />
            Research Susu Gratis 2019-2020 <br />
            Majelis Umat 2022 - Sekarang</p>
    </div>

    <div class="Box-Kanan-pengalaman">
        <img src="gambar/3.jpeg">
        <p>
            <h3>A. Azriel Friyansyah</h3>
        </p>
        <p>
            <h3>220602043</h3>
        </p>
        <h4>Pekerjaan :</h4>
        PT. Toufan Beliung 2021-2022
        <h4>Organisasi :</h4>
        <p>Avatar 2019-2022 <br />
            Pimpinan Suku Angin 2020-2023 <br />
            Pengendali Angin 2022 - Sekarang</p>
    </div>

    <div class="Box-Kiri-bawah-pengalaman">
        <img src="gambar/4.png">
        <p>
            <h3>Zaky Elmondo Riveno</h3>
        </p>
        <p>
            <h3>220602002</h3>
        </p>
        <h4>Pekerjaan :</h4>
        PT. Ngakak Indonesia 2021-2023
        <h4>Organisasi :</h4>
        <p>Harus Rasan-Rasan 2019-2022 <br />
            Esport Pou 2019-2022 <br />
            IRON Sepak Besi 2022 - Sekarang</p>
    </div>

    <div class="Box-Tengah-bawah-pengalaman">
        <img src="gambar/5.jpeg">
        <p>
            <h3>M. Ikfani Difangga</h3>
        </p>
        <p>
            <h3>220602011</h3>
        </p>
        <h4>Pekerjaan :</h4>
        PT. Jaya Planet Mars 2021-2023
        <h4>Organisasi :</h4>
        <p>Pimpinan Planet Mars 2019-sekarang <br />
            Research Kurban Mars 2019-2022 <br />
            Ngopi Atas Langit 2022-Sekarang</p>
    </div>

    <div class="Box-Kanan-bawah-pengalaman">
        <img src="gambar/6.jpeg">
        <p>
            <h3>Dimas Achyar T.</h3>
        </p>
        <p>
            <h3>220602046</h3>
        </p>
        <h4>Pekerjaan :</h4>
        PT. MCS Cab. Purnama 2021-2022
        <h4>Organisasi :</h4>
        <p>EpEp baywan 2019-2022 <br />
            Pimpinan Penyetan 2019-Sekarang <br />
            Emel Baywan 2022 - Sekarang</p>
    </div>
</div>